#enter{
	margin-top: 2%;
	background-color: #fb4f3b;
	color: white;
	margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

label{
	margin-top: 10px;
	color:black;
}
h1{
	color: black;
	text-align: center;
}
body{
	background-size: cover;
}
.link{
	text-align: right;
	padding: 8px;
	color: white;
}
.fundo{
	background-image: url(../../images/fundoMar.jpg);
	height: 100vh;
	background-size: cover;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.container-fluid{
	padding: 0px;
}
.boxLogin{
	margin-top: 13%;
}